p { 
  font-family: sans-serif;
  font-size: small;
  white-space: nowrap;
}

label[title] {
  cursor: help;
}

.header { 
  font-size: larger;
  font-weight: bold;
}

.item { 
  margin: 0 0 0 10px;
}

#changelogHideLink {
  display: none;
}

#changelogContainer { 
  display: none; 
  width: 600px;
}

#changelogText { 
  white-space: pre-wrap; 
  border: solid 1px black; 
  padding: 10px; 
  height: 400px;
  overflow-y: auto; 
}
